@use "@react-ck/theme";
@use "@react-ck/text";
@use "shared";

.root {
  @include shared.base;
}

// Interaction styles

.hoverable:hover {
  &.bordered {
    box-shadow: 0 1px 3px 0 #00000029;
  }

  &.shadowed {
    box-shadow: 0 1px 6px 0 #00000035;
  }
}

.clickable {
  cursor: pointer;
}

// Skins

.bordered {
  @include shared.skin-bordered;
}

.shadowed {
  @include shared.skin-shadowed;
}

.ghost {
  @include shared.skin-ghost;
}

// Variations

.full_height {
  height: 100%;
}

.horizontal {
  display: flex;
}

.vertical {
  .image {
    width: 100%;
  }
}

// Spacing

.spacing_s {
  @include shared.spacing-s;
}

.spacing_m {
  @include shared.spacing-m;
}

.spacing_l {
  @include shared.spacing-l;
}

// Content

.content {
  @include shared.content;
}

.image {
  display: block;
  border-top-left-radius: theme.get-css-var(card, border-radius);
  border-top-right-radius: theme.get-css-var(card, border-radius);
  object-fit: cover;
}
