@import "@react-ck/theme";
@import "@react-ck/scss-utils";

.root {
  background-color: get-css-var(overlay, color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@each $variation in (dark, light) {
  .#{$variation} {
    @include define-css-var(overlay, color, get-color("overlay-#{$variation}"));
  }
}
