@use "@react-ck/scss-utils";
@use "functions";

@mixin disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  opacity: 0.4;
}

@mixin focus-reset {
  box-shadow: none;
  outline: none;
}

@mixin focus-active {
  outline: solid calc(scss-utils.get-css-var(spacing, border) * 2) functions.get-color(focus);
}

@mixin focus($mode: "focus-visible") {
  @if not($mode == "focus" or $mode == "focus-visible" or $mode == "focus-within") {
    @error "Invalid focus mode: #{$mode}. Expected 'focus', 'focus-visible', or 'focus-within'";
  }

  @include focus-reset;

  &:#{$mode} {
    @include focus-active;
  }
}
