@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  @include text-base;
  @include text-variation(h3);

  display: flex;
  align-items: center;
  padding: get-spacing(1);
  background-color: get-color(neutral-light-2);
  gap: get-spacing(4);

  .section {
    display: flex;
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
    gap: get-spacing(2);

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}
