@import "@react-ck/theme";
@import "@react-ck/scss-utils";

.root {
  width: calc(
    (100% / 12 * var(--size)) -
      (#{get-css-var(grid-container, gap)} * (var(--columns) - 1) / var(--columns))
  );
  flex-shrink: 0;
  flex-grow: 0;
}

.size_auto {
  flex-shrink: 1;
  flex-grow: 1;
}
