@import "@react-ck/theme";
@import "@react-ck/scss-utils";

.root {
  width: calc((100% / 12 * var(--size)));
  flex-shrink: 0;
  flex-grow: 0;
  padding: calc(#{get-css-var(grid-container, gap)} * 0.5);
  box-sizing: border-box;
}

.size_auto {
  flex-shrink: 1;
  flex-grow: 1;
}
