@use "@react-ck/theme";
@use "@react-ck/scss-utils";

.root {
  @include scss-utils.define-css-var(divider, flex-wrap, none);

  display: flex;
  width: calc(100% + #{scss-utils.get-css-var(grid-container, gap)});
  box-sizing: border-box;
  flex-wrap: scss-utils.get-css-var(grid-container, flex-wrap);
  margin: calc(#{scss-utils.get-css-var(grid-container, gap)} * -0.5);
}

.wrap {
  @include scss-utils.define-css-var(grid-container, flex-wrap, wrap);
}

.align_default {
  align-items: baseline;
}

.align_centered {
  align-items: center;
}

.align_stretch {
  align-items: stretch;
}

.align_start {
  align-items: flex-start;
}

.align_end {
  align-items: flex-end;
}

.spacing_s {
  @include scss-utils.define-css-var(grid-container, gap, theme.get-spacing(1));
}

.spacing_m {
  @include scss-utils.define-css-var(grid-container, gap, theme.get-spacing(2));
}

.spacing_l {
  @include scss-utils.define-css-var(grid-container, gap, theme.get-spacing(4));
}

.spacing_none {
  @include scss-utils.define-css-var(grid-container, gap, 0);
}
