@use "@react-ck/theme";
@use "@react-ck/scss-utils";

.root {
  @include scss-utils.define-css-var(divider, border-color, transparent);

  overflow: hidden;
  padding: 0;
  border: solid scss-utils.get-css-var(spacing, border)
    scss-utils.get-css-var(divider, border-color);
  border-radius: theme.get-spacing(2);
  margin: 0;
  list-style: none;
}

.item {
  padding: theme.get-spacing(2);

  &:not(:first-child) {
    border-top: solid scss-utils.get-css-var(spacing, border)
      scss-utils.get-css-var(divider, border-color);
  }
}

.bordered {
  @include scss-utils.define-css-var(divider, border-color, theme.get-color(neutral-light-2));
}
