@use "@react-ck/theme";
@use "@react-ck/scss-utils";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: spin 1.5s infinite linear;
  color: scss-utils.get-css-var(spinner, color);
}

.text {
  @include scss-utils.define-css-var(spinner, color, currentColor);
}

.primary {
  @include scss-utils.define-css-var(spinner, color, theme.get-color(highlight-primary));
}
