@use "@react-ck/theme";
@use "@react-ck/text";

$border-radius: theme.get-css-var(card, border-radius);

@mixin shadow-small {
  // TODO: theme shadows
  box-shadow: 0 1px 3px 0 #00000029;
}

@mixin shadow-big {
  // TODO: theme shadows
  box-shadow: 0 1px 6px 0 #00000035;
}

@mixin shadow_transition {
  transition: box-shadow 0.3s ease;
}

@mixin base {
  @include text.text-base;
  @include theme.define-css-var(card, border-radius, theme.get-spacing(1));
  @include shadow_transition;

  display: block; // force display in case of polimorphy
  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: theme.get-color(neutral-light-1);
}

@mixin content {
  padding: theme.get-css-var(card, spacing);
}

// Skins

@mixin skin-bordered {
  border: solid theme.get-css-var(spacing, border) theme.get-color(neutral-light-2);
}

@mixin skin-shadowed {
  @include shadow-small;
}

@mixin skin-ghost {
  @include theme.define-css-var(card, border-radius, 0);
}

// Spacing

@mixin spacing-s {
  @include theme.define-css-var(card, spacing, theme.get-spacing(1));
}

@mixin spacing-m {
  @include theme.define-css-var(card, spacing, theme.get-spacing(2));
}

@mixin spacing-l {
  @include theme.define-css-var(card, spacing, theme.get-spacing(3));
}

@mixin spacing-none {
  @include theme.define-css-var(card, spacing, 0);
}
