@use "@react-ck/theme";
@use "@react-ck/elevation";
@use "@react-ck/scss-utils";

.root {
  position: fixed;
  z-index: scss-utils.map-get-strict(elevation.$elevation, popup);
  top: 0;
  right: 0;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 480px;
  max-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: theme.get-spacing(2) theme.get-spacing(1);
  filter: drop-shadow(0 1px 5px rgb(0 0 0 / 10%));
  gap: theme.get-spacing(1);
  pointer-events: none;
}
