@use "@react-ck/theme";
@use "@react-ck/scss-utils";
@use "@react-ck/elevation";

$padding-v: #{theme.get-spacing(0.5)};

.container {
  z-index: scss-utils.map-get-strict(elevation.$elevation, popup);
  box-sizing: border-box;
  padding: #{$padding-v} 0;
}

.content {
  max-width: var(--pe-max-width);
  max-height: calc(var(--pe-max-height) - #{$padding-v} * 2);
  box-sizing: border-box;
  padding: scss-utils.get-css-var(dropdown, spacing);
}

.spacing_s {
  @include scss-utils.define-css-var(dropdown, spacing, theme.get-spacing(0.66));
}

.spacing_m {
  @include scss-utils.define-css-var(dropdown, spacing, theme.get-spacing());
}

.spacing_l {
  @include scss-utils.define-css-var(dropdown, spacing, theme.get-spacing(2));
}

.spacing_none {
  @include scss-utils.define-css-var(dropdown, spacing, 0);
}
