@import "@react-ck/theme";
@import "@react-ck/elevation";

$padding-v: #{get-spacing(0.5)};

.container {
  z-index: map-get-strict($elevation, popup);
  box-sizing: border-box;
  padding: #{$padding-v} 0;
}

.content {
  max-width: var(--pe-max-width);
  max-height: calc(var(--pe-max-height) - #{$padding-v} * 2);
  box-sizing: border-box;
  padding: get-css-var(dropdown, spacing);
}

.spacing_s {
  @include define-css-var(dropdown, spacing, get-spacing(0.66));
}

.spacing_m {
  @include define-css-var(dropdown, spacing, get-spacing());
}

.spacing_l {
  @include define-css-var(dropdown, spacing, get-spacing(2));
}

.spacing_none {
  @include define-css-var(dropdown, spacing, 0);
}
