@use "@react-ck/theme";

.root {
  &,
  // tr
  & > * {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  // td / th
  > * > * {
    background-color: theme.get-color(neutral-light-1-5);

    &:first-child {
      border-top-left-radius: inherit;
    }
  }
}
