@use "@react-ck/theme";
@use "@react-ck/text";
@use "@react-ck/scss-utils";
@use "variables";

.root {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: theme.get-spacing(1) theme.get-spacing(2);
  border: none;
  border-radius: theme.get-spacing(1);
  background-color: scss-utils.get-css-var(alert, background-color);
  color: scss-utils.get-css-var(alert, color);
  gap: theme.get-spacing(1);

  .heading {
    color: inherit;
  }
}

.content {
  @include text.text-base;
}

.compact {
  padding: theme.get-spacing(0.5) theme.get-spacing(1);
  border-radius: 0;

  .content,
  .heading {
    @include text.text-variation(small);

    display: inline;
  }

  .heading {
    @include text.text-skin(bold);

    margin-right: theme.get-spacing(0.5);
  }
}

@each $key, $props in variables.$alert-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include scss-utils.define-css-var(alert, $propKey, $propValue);
    }
  }
}
