@use "@react-ck/theme";
@use "@react-ck/text";
@use "variables";

.root {
  @include text.text-base;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: theme.get-spacing(1) theme.get-spacing(2);
  border: none;
  border-radius: theme.get-spacing(1);
  background-color: theme.get-css-var(alert, background-color);
  color: theme.get-css-var(alert, color);
  gap: theme.get-spacing(1);

  .heading {
    color: inherit;
  }
}

@each $key, $props in variables.$alert-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include theme.define-css-var(alert, $propKey, $propValue);
    }
  }
}
