@import "@react-ck/theme";
@import "@react-ck/scss-utils";
@import "@react-ck/text";

@mixin form-field-input {
  @include text-base;

  background: transparent;
  color: get-color(neutral-900);
  border: none;
  width: 100%;
  padding: get-spacing(1) get-spacing(2);
  border: none;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: get-color(neutral-500);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
