@use "@react-ck/theme";
@use "@react-ck/text";
@use "variables";

@mixin form-field-input {
  @include text.text-base;

  width: 100%;
  box-sizing: border-box;
  padding: theme.get-spacing(0.75) theme.get-spacing(1);
  border: none;
  background: transparent;
  color: theme.get-color(neutral-dark-5);
  outline: none;

  // TODO: focus mixin
  outline: solid theme.get-css-var(spacing, border) transparent;
  transition-property: outline, outline-offset;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &::placeholder {
    color: theme.get-color(neutral-dark-1);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    // TODO: focus mixin
    outline: solid theme.get-css-var(spacing, border) theme.get-color(highlight-primary);
    outline-offset: theme.get-spacing(0.2);
  }
}

@mixin form-field-container {
  border: solid #{theme.get-css-var(form-field, border-color)} variables.$form-field-border-width;
  border-radius: theme.get-spacing(1);
  background: theme.get-color(neutral-light-1);
}
