@use "@react-ck/theme";
@use "@react-ck/scss-utils";

$form-field-border-width: scss-utils.get-css-var(spacing, border);
$form-field-styles: (
  default: (
    border-color: theme.get-color(neutral-light-2),
    color: theme.get-color(neutral-dark-4),
  ),
  ghost: (
    border-color: transparent,
    color: theme.get-color(neutral-dark-4),
  ),
  negative: (
    border-color: theme.get-color(status-negative-dark),
    color: theme.get-color(status-negative-dark),
  ),
  average: (
    border-color: theme.get-color(status-average-dark),
    color: theme.get-color(status-average-dark),
  ),
  positive: (
    border-color: theme.get-color(status-positive),
    color: theme.get-color(status-positive-dark),
  ),
);
