@import "@react-ck/theme";
@import "@react-ck/text";
@import "variables";

.root {
  display: flex;
  flex-direction: column;
  gap: get-spacing(0.1);

  .content {
    border: solid #{get-css-var(form-field, border-color)} #{get-css-var(spacing, border)};
    border-radius: get-spacing(1);
    background: get-color(neutral-light-1);
  }

  .validation_message {
    color: get-css-var(form-field, color) !important;
  }
}

@each $key, $props in $form-field-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include define-css-var(form-field, $propKey, $propValue);
    }
  }
}
