@use "@react-ck/theme";
@use "@react-ck/scss-utils";
@use "shared";
@use "variables";

.root {
  display: flex;
  flex-direction: column;
  gap: theme.get-spacing(0.1);

  .content {
    @include shared.form-field-container;
    @include shared.focus-base;

    &:focus-within {
      @include shared.focus-active;
    }
  }

  .validation_message {
    color: scss-utils.get-css-var(form-field, color) !important;
  }
}

@each $key, $props in variables.$form-field-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include scss-utils.define-css-var(form-field, $propKey, $propValue);
    }
  }
}
