@use "@react-ck/theme";

$chip-styles: (
  neutral: (
    background-color: theme.get-color(neutral-light-400),
    border-color: theme.get-color(neutral-light-400),
    color: theme.get-color(neutral-dark-400),
  ),
  primary: (
    background-color: theme.get-color(highlight-primary-light),
    border-color: theme.get-color(highlight-primary),
    color: theme.get-color(highlight-primary),
  ),
  negative: (
    background-color: theme.get-color(status-negative-light),
    border-color: theme.get-color(status-negative-dark),
    color: theme.get-color(status-negative-dark),
  ),
  average: (
    background-color: theme.get-color(status-average-light),
    border-color: theme.get-color(status-average-dark),
    color: theme.get-color(status-average-dark),
  ),
  positive: (
    background-color: theme.get-color(status-positive-light),
    border-color: theme.get-color(status-positive),
    color: theme.get-color(status-positive),
  ),
  info: (
    background-color: theme.get-color(status-info-light),
    border-color: theme.get-color(status-info),
    color: theme.get-color(status-info),
  ),
);

$chip-sizes: (
  m: (
    padding-y: theme.get-spacing(0.5),
    padding-x: theme.get-spacing(),
    text-variation: small,
  ),
  s: (
    padding-y: theme.get-spacing(0.25),
    padding-x: theme.get-spacing(0.75),
    text-variation: extra-small,
  ),
);
