@import "@react-ck/theme";

.root {
  background-color: get-color(neutral-light-2);
  position: relative;
  width: 100%;
  border-radius: get-spacing(0.5);
  overflow: hidden;
  height: get-spacing(20);

  &::before {
    @keyframes move {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(100%);
      }
    }

    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    transform: translateX(-100%);
    animation: move 2s linear infinite;
    background-image: linear-gradient(90deg, transparent, get-color(neutral-light-3), transparent);
    animation-delay: calc(var(--index) * 200ms);
  }
}

.large {
  aspect-ratio: 100/49;
}

.text {
  width: calc(100% - (25% * var(--index)));
  height: 1.2em;
}
