@use "@react-ck/theme";

.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: theme.get-spacing(20);
  border-radius: theme.get-spacing(0.5);
  background-color: theme.get-color(neutral-light-1-5);

  &::before {
    @keyframes move {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(100%);
      }
    }

    display: block;
    width: 100%;
    height: 100%;
    animation: move 2s linear infinite;
    animation-delay: calc(var(--index) * 400ms);
    background-image: linear-gradient(
      90deg,
      transparent,
      theme.get-color(neutral-light-1-5),
      transparent
    );
    content: "";
    opacity: 0.75;
    transform: translateX(-100%);
  }
}

.large {
  aspect-ratio: 100/49;
}

.text {
  width: calc(100% - (25% * var(--index)));
  min-width: theme.get-spacing(4);
  height: 1.2em;
}
