@use "@react-ck/theme";
@use "@react-ck/scss-utils";
@use "../../text/styles/shared" as text;
@use "shared";
@use "variables";
@use "sass:map";

.root {
  @include shared.base;
}

// Interaction styles

.hoverable:hover {
  &.bordered {
    @include shared.shadow-small;
  }

  &.shadowed {
    @include shared.shadow-big;
  }
}

.clickable {
  cursor: pointer;
}

// Skins

.bordered {
  @include shared.skin-bordered;
}

.shadowed {
  @include shared.skin-shadowed;
}

.ghost {
  @include shared.skin-ghost;
}

.light {
  @include shared.skin-light;
}

// Variations

.full_height {
  &,
  & .content {
    height: 100%;
  }
}

.horizontal {
  display: flex;
}

.vertical {
  .image {
    width: 100%;
  }
}

// Spacing

@each $key in map.keys(variables.$card-spacings) {
  .spacing_#{$key} {
    @include shared.card-spacing($key);
  }
}

// Border radius

@each $key in map.keys(variables.$card-spacings) {
  .border_radius_#{$key} {
    @include shared.card-border-radius($key);
  }
}

// Content

.content {
  @include shared.content;
}

.image {
  display: block;
  border-top-left-radius: scss-utils.get-css-var(card, border-radius);
  border-top-right-radius: scss-utils.get-css-var(card, border-radius);
  object-fit: cover;
}
