@use "shared";
@use "@react-ck/scss-utils";
@use "@react-ck/theme";

.root {
  width: 100%; // when inside flex
  max-width: scss-utils.get-css-var(container, max-width);
  box-sizing: border-box;
  padding: scss-utils.get-css-var(container, spacing-y) scss-utils.get-css-var(container, spacing-x);
  margin: 0 auto;
}

// Container size

@each $key, $value in shared.$container-sizes {
  .size_#{$key} {
    @include scss-utils.define-css-var(container, max-width, $value);
  }
}

@each $key, $value in shared.$container-spacings {
  // Container Spacing Vertical

  .spacing_y_#{$key} {
    @include scss-utils.define-css-var(container, spacing-y, $value);
  }

  // Container Spacing Horizontal

  .spacing_x_#{$key} {
    @include scss-utils.define-css-var(container, spacing-x, $value);
  }
}
