@use "@react-ck/theme";
@use "../../text/styles/shared" as text;
@use "@react-ck/scss-utils";

.root {
  background-color: theme.get-color(neutral-light-300);
  display: block;
  box-sizing: border-box;

  &.text {
    @include text.text-base(extra-small);
  }

  &.vertical {
    min-height: scss-utils.get-css-var(spacing, border);

    &.text {
      padding: #{theme.get-spacing(0.25)} #{theme.get-spacing()};
      border-radius: theme.get-spacing(0.5);
    }
  }

  &.horizontal {
    min-width: scss-utils.get-css-var(spacing, border);
    height: 100%;
    text-orientation: mixed;
    writing-mode: vertical-lr;

    &.text {
      padding: #{theme.get-spacing()} #{theme.get-spacing(0.25)};
    }
  }
}
