@use "@react-ck/theme";

.selected {
  background-color: theme.get-color(highlight-primary-light);
}

.interactive {
  cursor: pointer;

  &:hover:not(.selected) {
    background-color: theme.get-color(neutral-light-200);
  }
}
