@use "@react-ck/theme";

.selected {
  th,
  td {
    background-color: theme.get-color(highlight-primary-light) !important;
  }
}

.interactive {
  th,
  td {
    cursor: pointer;
  }

  &:hover:not(.selected) {
    th,
    td {
      background-color: theme.get-color(neutral-light-200);
    }
  }
}
