@use "@react-ck/theme";
@use "@react-ck/scss-utils";

.root {
  width: scss-utils.get-css-var(divider, width);
  height: scss-utils.get-css-var(divider, height);
  border: none;
  background-color: theme.get-color(neutral-light-400);
}

.horizontal {
  @include scss-utils.define-css-var(divider, width, 100%);
  @include scss-utils.define-css-var(divider, height, scss-utils.get-css-var(spacing, border));

  min-width: theme.get-spacing(2);
}

.vertical {
  @include scss-utils.define-css-var(divider, width, scss-utils.get-css-var(spacing, border));
  @include scss-utils.define-css-var(divider, height, 100%);

  min-height: theme.get-spacing(2);
}
