@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  @include text-base;
  @include text-skin(soft);
  @include text-skin(bold);

  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: get-spacing(2);
  color: #bbb;
  // TODO: text variation
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
