@import "@react-ck/theme";
@import "@react-ck/elevation";

.root {
  position: fixed;
  z-index: map-get-strict($elevation, popup);
  top: 0;
  right: 0;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 480px;
  max-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: get-spacing(2) get-spacing(1);
  filter: drop-shadow(0 1px 5px rgb(0 0 0 / 10%));
  gap: get-spacing(1);
  pointer-events: none;
}
