@use "@react-ck/theme";
@use "@react-ck/scss-utils";
@use "variables";

@mixin text-variant($key, $map) {
  $props: scss-utils.map-get-strict($map, $key);
  $defaultProps: scss-utils.map-get-strict($props, default);
  $hoverProps: scss-utils.map-get-strict($props, hover);

  @each $propName, $propValue in $defaultProps {
    @include scss-utils.define-css-var(text, $propName, $propValue);
  }

  &:hover {
    @each $propName, $propValue in $hoverProps {
      @include scss-utils.define-css-var(text, $propName, $propValue);
    }
  }
}

@mixin text-skin($key) {
  @include text-variant($key, variables.$text-skins);
}

@mixin text-variation($key) {
  @include text-variant($key, variables.$text-variations);
}

@mixin text-base($variation: p, $skin: base) {
  @include scss-utils.define-css-var(text, color, theme.get-color(neutral-dark-500));
  @include scss-utils.define-css-var(text, text-decoration, none);

  @include text-variation($variation);
  @include text-skin($skin);

  color: scss-utils.get-css-var(text, color);
  font-family: inherit;
  font-size: scss-utils.get-css-var(text, font-size);
  font-weight: scss-utils.get-css-var(text, font-weight);
  line-height: scss-utils.get-css-var(text, line-height);
  text-decoration: scss-utils.get-css-var(text, text-decoration);
}
