@use "@react-ck/theme";
@use "@react-ck/scss-utils";

$font-sizes: (
  banner: calc(#{scss-utils.get-css-var(font, base-size)} * 4.3),
  h1: calc(#{scss-utils.get-css-var(font, base-size)} * 2.1),
  h2: calc(#{scss-utils.get-css-var(font, base-size)} * 1.7),
  h3: calc(#{scss-utils.get-css-var(font, base-size)} * 1.5),
  h4: calc(#{scss-utils.get-css-var(font, base-size)} * 1.2),
  h5: calc(#{scss-utils.get-css-var(font, base-size)} * 1.1),
  h6: scss-utils.get-css-var(font, base-size),
  p: scss-utils.get-css-var(font, base-size),
  small: calc(#{scss-utils.get-css-var(font, base-size)} * 0.8571),
  extra-small: calc(#{scss-utils.get-css-var(font, base-size)} * 0.7),
);

// TODO: add values to theme

$text-skins: (
  base: (
    default: (
      color: theme.get-color(neutral-dark-500),
    ),
    hover: (),
  ),
  soft: (
    default: (
      color: theme.get-color(neutral-dark-100),
    ),
    hover: (),
  ),
  highlight-primary: (
    default: (
      color: theme.get-color(highlight-primary),
    ),
    hover: (),
  ),
  bold: (
    default: (
      font-weight: 700,
    ),
    hover: (),
  ),
  link: (
    default: (
      color: theme.get-color(highlight-alt),
    ),
    hover: (
      color: theme.get-color(highlight-alt-dark),
      text-decoration: underline,
    ),
  ),
  link_underline: (
    default: (
      color: theme.get-color(highlight-alt),
      text-decoration: underline,
    ),
    hover: (
      color: theme.get-color(highlight-alt-dark),
      text-decoration: underline,
    ),
  ),
  link_hidden: (
    default: (
      text-decoration: none,
    ),
    hover: (
      color: theme.get-color(highlight-alt-dark),
      text-decoration: underline,
    ),
  ),
  inverted: (
    default: (
      color: theme.get-color(neutral-light-100),
    ),
    hover: (),
  ),
  negative: (
    default: (
      color: theme.get-color(status-negative),
    ),
    hover: (),
  ),
  average: (
    default: (
      color: theme.get-color(status-average),
    ),
    hover: (),
  ),
  positive: (
    default: (
      color: theme.get-color(status-positive),
    ),
    hover: (),
  ),
  info: (
    default: (
      color: theme.get-color(status-info),
    ),
    hover: (),
  ),
);
$text-variations: (
  banner: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, banner)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, banner)} * 1.4),
      font-weight: 700,
    ),
    hover: (),
  ),
  h1: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, h1)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, h1)} * 1.6),
      font-weight: 600,
    ),
    hover: (),
  ),
  h2: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, h2)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, h2)} * 1.6),
      font-weight: 600,
      color: theme.get-color(neutral-dark-400),
    ),
    hover: (),
  ),
  h3: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, h3)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, h3)} * 1.6),
      font-weight: 600,
    ),
    hover: (),
  ),
  h4: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, h4)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, h4)} * 1.55),
      font-weight: 600,
    ),
    hover: (),
  ),
  h5: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, h5)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, h5)} * 1.5),
      font-weight: 600,
    ),
    hover: (),
  ),
  h6: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, h6)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, h6)} * 1.5),
      font-weight: 600,
    ),
    hover: (),
  ),
  p: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, p)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, p)} * 1.5),
      font-weight: 400,
    ),
    hover: (),
  ),
  small: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, small)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, small)} * 1.3),
      font-weight: 400,
    ),
    hover: (),
  ),
  extra-small: (
    default: (
      font-size: calc(#{scss-utils.map-get-strict($font-sizes, extra-small)}),
      line-height: calc(#{scss-utils.map-get-strict($font-sizes, extra-small)} * 1.5),
      font-weight: 400,
    ),
    hover: (),
  ),
);
