@use "@react-ck/theme";
@use "@react-ck/scss-utils";

@keyframes move {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@mixin animation {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  animation: move 2s linear infinite;
  animation-delay: calc(var(--size-multi) * 400ms);
  background-image: linear-gradient(
    90deg,
    transparent,
    theme.get-color(neutral-light-300),
    transparent
  );
  opacity: 0.75;
  transform: translateX(-100%);
}

.root {
  position: relative;
  overflow: hidden;
  border-radius: theme.get-spacing(0.5);
  background-color: theme.get-color(neutral-light-200);

  &::before {
    @include animation;

    content: "";
  }
}

.variation_default {
  display: block;
  width: 100%;
  height: theme.get-spacing(20);
}

.variation_text {
  position: relative;
  display: inline-block;
  width: calc(33% + (66% * var(--size-multi)));
  min-width: theme.get-spacing(4);
  height: scss-utils.get-css-var(text, line-height);
  transform: scaleY(0.6);
  vertical-align: bottom;
}

.variation_content {
  display: block;
}
