@use "@react-ck/theme";

$button-skins: (
  primary: (
    default: (
      background: theme.get-color(highlight-primary),
      text: theme.get-color(neutral-light-1),
      border: theme.get-color(highlight-primary),
      background-hover: theme.get-color(highlight-primary-dark),
      text-hover: null,
      border-hover: theme.get-color(highlight-primary-dark),
    ),
    muted: (
      background: theme.get-color(highlight-primary-light),
      text: theme.get-color(highlight-primary),
      border: theme.get-color(highlight-primary-light),
      background-hover: theme.get-color(highlight-primary),
      text-hover: theme.get-color(neutral-light-1),
      border-hover: theme.get-color(highlight-primary),
    ),
    bordered: (
      background: null,
      text: theme.get-color(highlight-primary),
      border: theme.get-color(highlight-primary),
      background-hover: theme.get-color(highlight-primary-light),
      text-hover: theme.get-color(highlight-primary-dark),
      border-hover: null,
    ),
    ghost: (
      background: null,
      text: theme.get-color(highlight-primary),
      border: null,
      background-hover: theme.get-color(highlight-primary-light),
      text-hover: theme.get-color(highlight-primary-dark),
      border-hover: null,
    ),
  ),
  secondary: (
    default: (
      background: theme.get-color(neutral-dark-1),
      text: theme.get-color(neutral-light-1),
      border: theme.get-color(neutral-dark-1),
      background-hover: theme.get-color(neutral-dark-3),
      text-hover: null,
      border-hover: theme.get-color(neutral-dark-3),
    ),
    muted: (
      background: theme.get-color(neutral-light-1-5),
      text: null,
      border: null,
      background-hover: theme.get-color(neutral-light-2),
      text-hover: null,
      border-hover: null,
    ),
    bordered: (
      background: null,
      text: null,
      border: theme.get-color(neutral-light-2),
      background-hover: theme.get-color(neutral-light-1-5),
      text-hover: null,
      border-hover: null,
    ),
    ghost: (
      background: null,
      text: theme.get-color(neutral-dark-3),
      border: null,
      background-hover: theme.get-color(neutral-light-1-5),
      text-hover: null,
      border-hover: null,
    ),
  ),
  negative: (
    default: (
      background: theme.get-color(status-negative),
      text: theme.get-color(neutral-light-1),
      border: theme.get-color(status-negative),
      background-hover: theme.get-color(status-negative-dark),
      text-hover: null,
      border-hover: theme.get-color(status-negative-dark),
    ),
    muted: (
      background: theme.get-color(status-negative-light),
      text: theme.get-color(status-negative-dark),
      border: theme.get-color(status-negative-light),
      background-hover: theme.get-color(status-negative),
      text-hover: theme.get-color(neutral-light-1),
      border-hover: theme.get-color(status-negative),
    ),
    bordered: (
      background: null,
      text: theme.get-color(status-negative),
      border: theme.get-color(status-negative),
      background-hover: theme.get-color(status-negative-light),
      text-hover: theme.get-color(status-negative-dark),
      border-hover: null,
    ),
    ghost: (
      background: null,
      text: theme.get-color(status-negative),
      border: null,
      background-hover: theme.get-color(status-negative-light),
      text-hover: theme.get-color(status-negative-dark),
      border-hover: null,
    ),
  ),
);

$button-sizes: (
  l: (
    padding-y: theme.get-spacing(2),
    padding-x: theme.get-spacing(3),
    padding-icon: theme.get-spacing(1.5),
  ),
  m: (
    padding-y: theme.get-spacing(0.75),
    padding-x: theme.get-spacing(2),
    padding-icon: theme.get-spacing(1),
  ),
  s: (
    padding-y: theme.get-spacing(0.25),
    padding-x: theme.get-spacing(1.25),
    padding-icon: theme.get-spacing(0.66),
  ),
  xs: (
    padding-y: theme.get-spacing(0.15),
    padding-x: theme.get-spacing(1),
    padding-icon: theme.get-spacing(0.5),
  ),
);
