@import "@react-ck/theme";

.root {
  @include font-base;

  background-color: get-css-var(button, background-color);
  color: get-css-var(button, color);
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: get-spacing(1) get-spacing(2);
  border-radius: get-spacing(1);
  transition: background-color 0.2s ease;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  @include define-css-var(button, background-color, get-color(highlight-primary));
  @include define-css-var(button, color, get-color(neutral-0));

  &:hover {
    @include define-css-var(button, background-color, get-color(highlight-primary-dark));
  }
}

.secondary {
  @include define-css-var(button, background-color, get-color(neutral-200));
  @include define-css-var(button, color, get-color(neutral-800));

  &:hover {
    @include define-css-var(button, background-color, get-color(neutral-300));
  }
}

.icon {
  margin-right: get-spacing(1);
  display: inline-flex;
  align-items: center;
}
