@use "@react-ck/theme";

$badge-styles: (
  neutral: (
    background-color: theme.get-color(neutral-dark-1),
    color: theme.get-color(neutral-light-2),
  ),
  primary: (
    background-color: theme.get-color(highlight-primary-dark),
    color: theme.get-color(highlight-primary-light),
  ),
  negative: (
    background-color: theme.get-color(status-negative),
    color: theme.get-color(status-negative-light),
  ),
  average: (
    background-color: theme.get-color(status-average),
    color: theme.get-color(status-average-dark),
  ),
  positive: (
    background-color: theme.get-color(status-positive),
    color: theme.get-color(status-positive-light),
  ),
);
