@import "@react-ck/theme";
@import "@react-ck/text";
@import "variables";

.root {
  $size: get-spacing(2);

  @include text-base;
  @include text-variation(smallest);

  display: inline-block;
  overflow: hidden;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: get-css-var(badge, background-color);
  color: get-css-var(badge, color);
  line-height: $size;
  text-align: center;
  text-overflow: ellipsis;
}

@each $key, $props in $badge-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include define-css-var(badge, $propKey, $propValue);
    }
  }
}
