@import "@react-ck/theme";
@import "@react-ck/scss-utils";
@import "@react-ck/text";

.root {
  display: flex;
  flex-direction: column;
  gap: get-spacing(1);
}

.track {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  @include define-css-var(tabs, border-color, get-color(neutral-light-3));
  @include text-base;

  background: transparent;
  padding: get-spacing(1) get-spacing(2);
  border: none;
  cursor: pointer;
  border-bottom: solid #{get-css-var(spacing, border)} #{get-css-var(tabs, border-color)};
}

.tab_active {
  @include define-css-var(tabs, border-color, get-color(highlight-primary));
}
