@use "@react-ck/elevation";
@use "@react-ck/scss-utils";
@use "@react-ck/theme";

.container {
  position: relative;
}

.overlay {
  z-index: scss-utils.map-get-strict(elevation.$elevation, "overlay");
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  top: calc(theme.get-spacing() * var(--offset)) !important;
  left: calc(theme.get-spacing() * var(--offset)) !important;
  height: calc(100% - (theme.get-spacing() * var(--offset) * 2)) !important;
  width: calc(100% - (theme.get-spacing() * var(--offset) * 2)) !important;

  &__active {
    opacity: 1;
    pointer-events: all;
  }
}
