@use "@react-ck/theme";
@use "@react-ck/scss-utils";
@use "../../text/styles/shared" as text;

@mixin sticky_headers {
  thead td,
  thead th {
    @content;
  }
}

@mixin sticky-column {
  thead th:first-child,
  thead td:first-child,
  tbody td:first-child,
  tfoot td:first-child,
  tfoot th:first-child {
    @content;
  }
}

// Root

.root {
  @include scss-utils.define-css-var(table, border-color, transparent);

  box-sizing: border-box;
  border: solid scss-utils.get-css-var(spacing, border) scss-utils.get-css-var(table, border-color);
  border-radius: theme.get-spacing(1);
}

// Scrollable

.scrollable {
  max-width: 100%;
  max-height: 100%;

  @include sticky-column {
    position: sticky;
    left: 0;
    background-color: theme.get-color(neutral-light-100);
  }

  @include sticky_headers {
    position: sticky;
    top: 0;
    background-color: theme.get-color(neutral-light-300-solid) !important;
    white-space: nowrap;

    &:first-child {
      z-index: 1;
    }
  }
}

// Skins

.scrollable.skin_bordered {
  @include sticky_headers {
    &::before {
      position: absolute;
      z-index: 1;
      bottom: calc(#{scss-utils.get-css-var(spacing, border)} * -1);
      left: 0;
      display: block;
      width: 100%;
      height: scss-utils.get-css-var(spacing, border);
      background-color: scss-utils.get-css-var(table, border-color);
      content: "";
    }
  }

  @include sticky-column {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: scss-utils.get-css-var(spacing, border);
      height: 100%;
      background-color: scss-utils.get-css-var(table, border-color);
      content: "";
    }
  }
}

.skin_bordered {
  @include scss-utils.define-css-var(table, border-color, theme.get-color(neutral-light-400-solid));
}

// Spacing

.spacing_default {
  @include scss-utils.define-css-var(table, spacing, theme.get-spacing());
}

.spacing_compact {
  @include scss-utils.define-css-var(table, spacing, theme.get-spacing(0.5));
}

// Table

.table {
  @include text.text-base;

  width: 100%;
  border-radius: inherit;
  border-collapse: collapse;

  td,
  th {
    padding: scss-utils.get-css-var(table, spacing);

    &:not(:last-child) {
      border-right: solid scss-utils.get-css-var(spacing, border)
        scss-utils.get-css-var(table, border-color);
    }
  }

  thead tr,
  tr:not(:last-child) {
    th,
    td {
      border-bottom: solid scss-utils.get-css-var(spacing, border)
        scss-utils.get-css-var(table, border-color);
    }
  }
}
