@use "@react-ck/theme";
@use "@react-ck/text";

$bg: theme.get-color(neutral-light-1-5);

.root {
  position: relative;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: theme.get-spacing(2);
  padding: theme.get-spacing(4);
  border-radius: theme.get-spacing(1);
  box-sizing: border-box;
  border: solid theme.get-css-var(spacing, border) $bg;

  // TODO: focus mixin
  outline: solid theme.get-css-var(spacing, border) transparent;
  transition-property: outline, outline-offset;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &:not(.disabled):hover,
  &:not(.disabled):focus-within {
    // TODO: focus mixin
    outline: dashed theme.get-css-var(spacing, border) theme.get-color(highlight-primary);
    outline-offset: theme.get-spacing(0.5);
  }
}

.root_icon_only {
  display: inline-flex;
}

// Skins

.negative {
  border: solid theme.get-css-var(spacing, border) theme.get-color(status-negative);
}

.disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  opacity: 0.4;
}

// Variations

.square {
  min-height: theme.get-spacing(20);
  min-width: theme.get-spacing(20);
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
}

.content {
  @include text.text-base;

  text-align: center;
}

.file {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.disabled .file {
  cursor: not-allowed;
}

.button {
  z-index: 2;
}

.validation_message {
  color: theme.get-color(status-negative);
}

.details {
  text-align: center;
}
