@import "@rck/theme";

.root {
  @include font-base;

  background: var(--color-neutral100);
  color: var(--color-text);
  font: inherit;
  font-family: var(--font-family);
  font-size: var(--font-base-size);
  border: none;
  width: 100%;
  padding: var(--spacing-base) calc(var(--spacing-base) * 2);
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: var(--spacing-base);

  &::placeholder {
    color: var(--color-text-alt);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
