@use "@react-ck/theme";
@use "@react-ck/elevation";
@use "@react-ck/scss-utils";

$padding-v: #{theme.get-spacing(0.5)};

.container {
  z-index: scss-utils.map-get-strict(elevation.$elevation, overlay);
  box-sizing: border-box;
  padding: #{$padding-v} 0;
}

.content {
  max-width: var(--pe-max-width);
  max-height: calc(var(--pe-max-height) - #{$padding-v} * 2);
  box-sizing: border-box;
  padding: theme.get-spacing(2);
}
