@import "@react-ck/theme";
@import "@react-ck/elevation";

$padding-v: #{get-spacing(0.5)};

.container {
  padding: #{$padding-v} 0;
  box-sizing: border-box;
  z-index: map-get-strict($elevation, popup);
}

.content {
  padding: get-spacing(2);
  max-height: calc(var(--pe-max-height) - #{$padding-v} * 2);
  max-width: var(--pe-max-width);
  box-sizing: border-box;
}
