@import "../../../../../library//react-ck/";

.root {
  display: flex;
  height: 100%;
  gap: get-spacing(2);
  padding: get-spacing(4);
  box-sizing: border-box;
  align-items: baseline;
}

.container {
  flex-grow: 1;
  flex-shrink: 1;
}
