@use "shared";
@import "@react-ck/theme";
@import "@react-ck/scss-utils";

.root {
  @include define-css-var(container, spacing-y, 0);
  @include define-css-var(container, spacing-x, 0);

  max-width: get-css-var(container, max-width);
  box-sizing: border-box;
  padding: get-css-var(container, spacing-y) get-css-var(container, spacing-x);
  margin: 0 auto;
}

.horizontal {
  @include define-css-var(container, max-width, shared.$container-max-width);
  @include define-css-var(container, spacing-x, get-spacing(5));
}

.vertical {
  @include define-css-var(container, spacing-y, get-spacing(3));

  &.small {
    @include define-css-var(container, spacing-y, get-spacing(2));
  }

  &.big {
    @include define-css-var(container, spacing-y, get-spacing(6));
  }
}
