@import "@react-ck/theme";

.root {
  width: 100%;
  height: get-spacing(0.5);
  appearance: none;

  &::-webkit-progress-value,
  &::-webkit-progress-bar {
    border-radius: get-spacing(0.5);
  }

  &::-webkit-progress-value {
    background-color: get-color(highlight-primary);
  }

  &::-webkit-progress-bar {
    background-color: get-color(neutral-light-2);
  }
}
