@use "@react-ck/scss-utils";

.root {
  box-sizing: border-box;
  padding: calc(#{scss-utils.get-css-var(grid-container, gap)} * 0.5);
}

.size_defined {
  width: calc((100% / 12 * var(--size)));
  flex-grow: 0;
  flex-shrink: 0;
}

.size_auto {
  flex-grow: 1;
  flex-shrink: 1;
}
