@use "@react-ck/theme";

.root {
  cursor: pointer;
}

.menu {
  > :first-child {
    border-top-left-radius: theme.get-spacing(1);
    border-top-right-radius: theme.get-spacing(1);
  }

  > :last-child {
    border-bottom-left-radius: theme.get-spacing(1);
    border-bottom-right-radius: theme.get-spacing(1);
  }
}

.search_input {
  outline: none !important;
}
