@import "@react-ck/theme";
@import "@react-ck/scss-utils";

.root {
  @include font-base;

  background: get-color(neutral-100);
  color: get-color(neutral-900);
  border: none;
  width: 100%;
  padding: get-spacing(1) get-spacing(2);
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: get-spacing(1);

  &::placeholder {
    color: get-color(neutral-300);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
