@use "@react-ck/theme";
@use "@react-ck/scss-utils";
@use "shared";
@use "variables";

// Root

.root {
  display: inline-flex;
  gap: theme.get-spacing(0.5);
  flex-direction: column;
  max-width: 100%;

  &.full_width {
    display: flex;
  }
}

.disabled {
  @include theme.disabled;
}

@each $key, $props in variables.$form-field-styles {
  .skin_#{$key} {
    @each $propKey, $propValue in $props {
      @include scss-utils.define-css-var(form-field, $propKey, $propValue);
    }
  }
}

// Label

.label {
  cursor: pointer;
}

.variation_inline,
.variation_inline-reverse {
  .label {
    flex-grow: 1;
  }
}

// Main Content

.main_content {
  display: flex;
  flex-direction: column;
}

.variation_inline,
.variation_inline-reverse {
  .main_content {
    flex-direction: row;
    gap: theme.get-spacing();
    width: 100%;
    align-items: center;
  }
}

.variation_inline-reverse {
  .main_content {
    flex-direction: row-reverse;
  }
}

// Input Wrapper

.input_wrapper {
  min-height: variables.$form-field-input-height;
  box-sizing: border-box;
}

.variation_inline-content,
.variation_inline-content-reverse,
.variation_default {
  .input_wrapper {
    @include shared.wrapper;
    @include theme.focus-base;
    @include theme.focus-transition;

    &:focus-within {
      @include theme.focus-active;
    }
  }
}

.variation_inline,
.variation_inline-reverse {
  .input_wrapper {
    order: -1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.variation_inline-content,
.variation_inline-content-reverse {
  .input_wrapper {
    display: flex;
    align-items: center;
  }
}

.variation_inline-content {
  .input_wrapper {
    flex-direction: row;
  }
}

.variation_inline-content-reverse {
  .input_wrapper {
    flex-direction: row-reverse;
  }
}

// Validation Message

.validation_message {
  color: scss-utils.get-css-var(form-field, color) !important;
}

.variation_inline,
.variation_inline-reverse {
  .description,
  .validation_message {
    width: 100%;
  }
}

// Reserve Space

.reserve_space {
  display: block;
  white-space: pre;
}
