@use "../../card/styles/shared" as card;
@use "@react-ck/theme";
@use "@react-ck/scss-utils";

.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header,
.footer,
.content {
  display: flex;
  flex-direction: column;
  padding: theme.get-spacing(1);
  gap: theme.get-spacing(1);
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
}

.skin_default {
  border-right: solid scss-utils.get-css-var(spacing, border) theme.get-color(neutral-light-400);
}

.skin_shadowed {
  height: auto;
  border-radius: theme.get-spacing(2);

  @include card.shadow_transition;
  @include card.shadow_small;

  &:hover {
    @include card.shadow_big;
  }
}
