@use "@react-ck/theme";
@use "../../card/styles/shared" as card;
@use "../../text/styles/shared" as text;

$size: theme.get-spacing(6);
$spacing: theme.get-spacing(1.5);

.root {
  @include card.base;
  @include card.skin-bordered;
  @include text.text-base;
  @include text.text-variation(small);

  position: relative;
  display: flex;
  min-height: $size;
  align-items: center;
  justify-content: flex-start;
  padding: $spacing;
  gap: $spacing;

  &.selected {
    border-color: theme.get-color(highlight-primary);
  }

  &.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none;
  }

  &.interactive {
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;

    @include theme.focus;

    &:hover {
      background-color: theme.get-color(neutral-light-200);
    }
  }
}

.full_width {
  width: 100%;
}

.size_m {
  padding-right: theme.get-spacing(4);
}

.size_l {
  flex-direction: column;
  padding: theme.get-spacing(2) theme.get-spacing(4);
  text-align: center;
}

.content {
  display: flex;
  max-width: calc(100% - #{$spacing});
  flex-direction: column;
}

.name {
  overflow: hidden;
  max-height: theme.get-spacing(2);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.format {
  color: theme.get-color(neutral-dark-100);
}

.close {
  position: absolute;
  top: calc(#{$spacing} * 0.5);
  right: calc(#{$spacing} * 0.5);
}

.error {
  color: theme.get-color(status-negative);
}

.icon {
  position: relative;
  display: flex;
  width: theme.get-spacing(3);
  height: theme.get-spacing(3);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: theme.get-spacing();
  border-radius: 50%;
  color: theme.get-color(neutral-light-100);

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.icon_default {
  background-color: theme.get-color(misc-3);
}

.icon_doc {
  background-color: theme.get-color(misc-3);
}

.icon_image,
.icon_pdf {
  background-color: theme.get-color(misc-2);
}

.icon_audio {
  background-color: theme.get-color(misc-4);
}

.icon_spreadsheet {
  background-color: theme.get-color(misc-5);
}

.size_s {
  min-height: unset;
  padding: theme.get-spacing(0.4);
  border-radius: theme.get-spacing(2);
  gap: theme.get-spacing(1);

  .content {
    display: inline-flex;
    overflow: hidden;
    max-width: unset;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    gap: theme.get-spacing(1);
    text-overflow: ellipsis;
    white-space: pre;
  }

  .icon {
    width: theme.get-spacing(2.5);
    height: theme.get-spacing(2.5);
  }

  .close {
    position: relative;
    top: 0;
    right: 0;
  }

  .spinner {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
