@import "@rck/theme";

.root {
  background-color: get-color("neutral200");
  border: none;
  height: var(--height);
  width: var(--width);
}

.horizontal {
  --width: 100%;
  --height: 1px;
}

.vertical {
  --width: 1px;
  --height: 100%;
}
