@import "@rck/theme";
@import "@rck/scss-utils";

.root {
  background-color: get-color(neutral-200);
  border: none;
  height: get-css-var(divider, height);
  width: get-css-var(divider, width);
}

.horizontal {
  @include define-css-var(divider, width, 100%);
  @include define-css-var(divider, height, 1px);
}

.vertical {
  @include define-css-var(divider, width, 1px);
  @include define-css-var(divider, height, 100%);
}
