@use "@react-ck/theme";

.root {
  width: 100%;
  height: theme.get-spacing(0.5);
  appearance: none;
  display: block;

  &::-webkit-progress-value,
  &::-webkit-progress-bar {
    border-radius: theme.get-spacing(0.5);
  }

  &::-webkit-progress-value {
    background-color: theme.get-color(highlight-primary);
    transition: all 2s ease-in-out;
  }

  &::-webkit-progress-bar {
    background-color: theme.get-color(neutral-light-400);
  }
}
