@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  @include text-base;

  display: flex;
  align-items: center;
  padding: get-spacing();
  cursor: pointer;
  gap: get-spacing();
  transition: all 0.2s;
  box-sizing: border-box;

  &:focus:not(.disabled),
  &:hover:not(.disabled),
  &.secondary {
    background-color: get-color(neutral-light-2);
  }

  &.primary {
    background-color: get-color(highlight-primary);
    color: get-color(neutral-light-1);
  }

  &.disabled {
    // TODO: create shared mixin
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.4;
  }

  &.horizontal {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
  }
}
