@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  display: block;
  background-color: get-color(neutral-light-2);
  box-sizing: border-box;

  &.text {
    @include text-base;
    @include text-variation(extra-small);
  }

  &.vertical {
    min-height: get-css-var(spacing, border);

    &.text {
      padding: #{get-spacing(0.25)} #{get-spacing()};
    }
  }

  &.horizontal {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    height: 100%;
    min-width: get-css-var(spacing, border);

    &.text {
      padding: #{get-spacing()} #{get-spacing(0.25)};
    }
  }
}
