@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  display: block;
  min-height: get-css-var(spacing, border);
  background-color: get-color(neutral-light-2);

  &.text {
    @include text-base;
    @include text-variation(extra-small);

    padding: #{get-spacing(0.25)} #{get-spacing()};
  }
}
