@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  @include text-base;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: get-spacing(0.75) get-spacing();
  border-radius: get-spacing();
  cursor: pointer;
  gap: get-spacing();
  transition: all 0.2s;

  &:focus:not(.disabled),
  &:hover:not(.disabled) {
    background-color: get-color(neutral-light-2);
    color: currentcolor;
  }

  &.secondary {
    background-color: get-color(neutral-light-1-5);
  }

  &.primary {
    background-color: get-color(highlight-primary-light);
    color: get-color(highlight-primary);
  }

  &.disabled {
    // TODO: create shared mixin
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.4;
  }

  &.horizontal {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
  }
}
