@use "@react-ck/elevation";
@import "@react-ck/theme";

.container {
  position: relative;
}

.overlay {
  z-index: map-get-strict(elevation.$elevation, "overlay");
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &__active {
    opacity: 1;
    pointer-events: all;
  }
}
