@import "@react-ck/theme";

.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  border-bottom: solid get-css-var(spacing, border) get-color(neutral-light-2);
}

.footer {
  border-top: solid get-css-var(spacing, border) get-color(neutral-light-2);
}

.header,
.footer,
.content {
  display: flex;
  flex-direction: column;
  padding: get-spacing(1);
  gap: get-spacing(1);
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
}

.skin_default {
  border-right: solid get-css-var(spacing, border) get-color(neutral-light-2);
}

.skin_shadowed {
  border-radius: get-spacing(1);
  box-shadow: 0px 1px 3px 0px #00000029;
  height: auto;
}
