@use "@react-ck/theme";
@use "../../text/styles/shared" as text;

.container {
  position: relative;
}

.actions {
  position: absolute;
  z-index: 1;
  top: theme.get-spacing(1);
  right: theme.get-spacing(1);
}

.root {
  @include text.text-base;
  @include text.text-variation(small);

  display: block;
  padding: theme.get-spacing(1.5);
  border-radius: theme.get-spacing(1);
  background-color: theme.get-color(neutral-light-300);
  font-family: monospace;
  white-space: pre-wrap;
}
