@import "@react-ck/theme";
@import "@react-ck/scss-utils";
@import "@react-ck/text";

.root {
  @include text-base;
  @include define-css-var(table, border-color, transparent);

  border: solid get-css-var(spacing, border) get-css-var(table, border-color);
  border-radius: get-spacing(1);

  td,
  th {
    padding: get-spacing();

    &:not(:first-child) {
      border-left: solid get-css-var(spacing, border) get-css-var(table, border-color);
    }
  }

  thead tr,
  tr:not(:last-child) {
    th,
    td {
      border-bottom: solid get-css-var(spacing, border) get-css-var(table, border-color);
    }
  }
}

.bordered {
  @include define-css-var(table, border-color, get-color(neutral-100));
}
