@import "@react-ck/theme";
@import "@react-ck/scss-utils";
@import "@react-ck/text";

.root {
  @include define-css-var(table, border-color, transparent);

  box-sizing: border-box;

  border: solid get-css-var(spacing, border) get-css-var(table, border-color);
  border-radius: get-spacing(1);
}

.scrollable {
  max-width: 100%;
  max-height: 100%;

  thead th {
    position: sticky;
    top: 0;
    background-color: get-color(neutral-light-1);
    white-space: nowrap;
  }

  thead th:first-child {
    z-index: 1;
  }

  thead th:first-child,
  tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: get-color(neutral-light-1);
  }
}

.bordered {
  @include define-css-var(table, border-color, get-color(neutral-light-2));
}

.table {
  @include text-base;

  width: 100%;
  border-collapse: collapse;

  thead th {
    text-align: start;
  }

  td,
  th {
    padding: get-spacing();

    &:not(:last-child) {
      border-right: solid get-css-var(spacing, border) get-css-var(table, border-color);
    }
  }

  thead tr,
  tr:not(:last-child) {
    th,
    td {
      border-bottom: solid get-css-var(spacing, border) get-css-var(table, border-color);
    }
  }
}
