@import "@react-ck/theme";
@import "@react-ck/text";
@import "variables";

.root {
  @include text-base;
  @include text-skin(soft);

  position: relative;
  display: flex;
  overflow: hidden;
  width: get-css-var(avatar, size);
  height: get-css-var(avatar, size);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
  background-color: get-color(neutral-light-2);

  @each $key, $value in $avatar-sizes {
    &.size_#{$key} {
      @include define-css-var(avatar, size, $value);
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
