$chip-styles: (
  neutral: (
    background-color: get-color(neutral-light-2),
    color: get-color(neutral-dark-4),
  ),
  primary: (
    background-color: get-color(highlight-primary-light),
    color: get-color(highlight-primary-dark),
  ),
  negative: (
    background-color: get-color(status-negative-light),
    color: get-color(status-negative-dark),
  ),
  average: (
    background-color: get-color(status-average-light),
    color: get-color(status-average-dark),
  ),
  positive: (
    background-color: get-color(status-positive-light),
    color: get-color(status-positive-dark),
  ),
);
