@import "@react-ck/theme";
@import "@react-ck/text";
@import "variables";

.root {
  @include text-base;
  @include text-variation(small);

  display: inline-flex;
  padding: get-spacing(0.5) get-spacing();
  border-radius: get-spacing(2);
  background-color: get-css-var(chip, background-color);
  color: get-css-var(chip, color);
  white-space: nowrap;
}

@each $key, $props in $chip-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include define-css-var(chip, $propKey, $propValue);
    }
  }
}
