@import "@react-ck/theme";
@import "@react-ck/text";
@import "variables";

.root {
  @include text-base;

  background-color: get-css-var(chip, background-color);
  color: get-css-var(chip, color);
  padding: 4px 8px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  display: inline-flex;
  border-radius: 8px;
  white-space: nowrap;
}

@each $key, $props in $chip-styles {
  .#{$key} {
    @each $propKey, $propValue in $props {
      @include define-css-var(chip, $propKey, $propValue);
    }
  }
}
