@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  @include text-base;

  background-color: get-css-var(chip, background-color);
  color: get-css-var(chip, color);
  padding: 4px 8px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  display: inline-flex;
  border-radius: 8px;
}

.neutral {
  @include define-css-var(chip, background-color, #e2e8f0);
  @include define-css-var(chip, color, #1a202c);
}

.primary {
  @include define-css-var(chip, background-color, get-color(highlight-primary-light));
  @include define-css-var(chip, color, get-color(highlight-primary-dark));
}

.negative {
  @include define-css-var(chip, background-color, get-color(status-negative-light));
  @include define-css-var(chip, color, get-color(status-negative-dark));
}

.average {
  @include define-css-var(chip, background-color, get-color(status-average-light));
  @include define-css-var(chip, color, get-color(status-average-dark));
}

.positive {
  @include define-css-var(chip, background-color, get-color(status-positive-light));
  @include define-css-var(chip, color, get-color(status-positive-dark));
}
