@import "@rck/scss-utils";

.root {
  @include define-css-var(container, spacing-y, 0);
  @include define-css-var(container, spacing-x, 0);

  box-sizing: border-box;
  max-width: get-css-var(container, max-width);
  padding: get-css-var(container, spacing-y) get-css-var(spacing-x);
  margin: 0 auto;
}

.horizontal {
  @include define-css-var(container, max-width, 1300px);
  @include define-css-var(container, spacing-x, 50px);

  .small {
    color: red;
  }
}

.vertical {
  @include define-css-var(container, spacing-y, 30px);

  .small {
    @include define-css-var(container, spacing-y, 16px);
  }
}
