@import "@react-ck/theme";
@import "@react-ck/text";

.root {
  display: flex;
  align-items: center;
  padding: get-spacing(1);
  border-radius: get-spacing(1);
  gap: get-spacing(1);
  border: solid get-css-var(spacing, border) get-color(highlight-primary-light);
}

.field {
  flex-grow: 1;
  flex-shrink: 1;
}

.description {
  @include text-base;
  @include text-variation(extra-small);

  color: get-color(neutral-dark-1);
  margin: 0 0 get-spacing(0.3);

  &.error {
    color: get-color(status-negative);
  }
}
