/* Set font family and styling for Storybook components and documentation */
:root {
  --custom-font-family: Inter, serif;
}

body,
.custom-markdown * {
  font-family: var(--custom-font-family) !important;
}

.custom-markdown * {
  font-family: var(--custom-font-family) !important;
}

.sbdocs-wrapper .sbdocs-content > div > p,
.sbdocs-wrapper .sbdocs-content > p {
  font-family: var(--custom-font-family) !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.sbdocs.sbdocs-content > h1,
.custom-markdown h1,
h1.sbdocs-title,
.sb-anchor > h1 {
  font-family: var(--custom-font-family) !important;
  font-size: 35px !important;
  font-weight: 600 !important;
  margin-bottom: 1em !important;
  margin-top: 0 !important;
  position: relative !important;

  a {
    float: unset !important;
    position: absolute !important;
    right: 100% !important;
  }
}

.sbdocs.sbdocs-content > h2,
.custom-markdown h2,
h2.sbdocs-title,
.sb-anchor > h2 {
  font-family: var(--custom-font-family) !important;
  font-size: 25px !important;
  font-weight: 600 !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  border-bottom: none !important;
}

.sbdocs.sbdocs-content > h3,
.custom-markdown h3,
h3.sbdocs-title,
.sb-anchor > h3 {
  font-family: var(--custom-font-family) !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  border-bottom: none !important;
}

.sbdocs.sbdocs-content > h4,
.custom-markdown h4,
h4.sbdocs-title,
.sb-anchor > h4 {
  background-color: lime !important;
}

.sbdocs.sbdocs-content > h5,
.custom-markdown h5,
h5.sbdocs-title,
.sb-anchor > h5 {
  background-color: lime !important;
}

.sbdocs.sbdocs-content > h6,
.custom-markdown h6,
h6.sbdocs-title,
.sb-anchor > h6 {
  background-color: lime !important;
}

.custom-markdown > div > pre {
  padding: 0 !important;
  margin: 0 !important;

  .docblock-source {
    margin: 0 !important;
  }
}

.custom-markdown > div > blockquote {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin: 0;
  background: #fff9e9;
  font-size: 14px;
  font-style: italic;
  margin-bottom: -14px;

  p {
    margin: 0 !important;
  }
}
