@use "@react-ck/theme";
@use "../../text/styles/shared" as text;

.root {
  @include text.text-base(p, soft);

  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: theme.get-spacing(3);
  gap: theme.get-spacing(2);
  text-align: center;
}

.size_full {
  min-height: 100%;
}

.size_m {
  min-height: theme.get-spacing(10);
}

.size_square {
  min-width: min-content;
  min-height: min-content;
  aspect-ratio: 1 / 1;
}

.skin_alt {
  border-radius: theme.get-spacing();
  background-color: theme.get-color(neutral-light-300);
}
