@use "../../text/styles/shared" as text;
@use "@react-ck/theme";

.root {
  @include text.text-base(p, soft);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
  flex-grow: 0;

  @include theme.focus;

  &.active {
    @include text.text-skin(highlight-primary);
  }

  &:hover:not(.active) {
    @include text.text-skin(highlight-primary);
  }

  &.interactive {
    cursor: pointer;
  }
}
