@import "@react-ck/theme";
@import "variables";

@mixin text-variant($key, $map) {
  $props: map-get-strict($map, $key);
  $defaultProps: map-get-strict($props, default);
  $hoverProps: map-get-strict($props, hover);

  @each $propName, $propValue in $defaultProps {
    @include define-css-var(text, $propName, $propValue);
  }

  &:hover {
    @each $propName, $propValue in $hoverProps {
      @include define-css-var(text, $propName, $propValue);
    }
  }
}

@mixin text-skin($key) {
  @include text-variant($key, $text-skins);
}

@mixin text-variation($key) {
  @include text-variant($key, $text-variations);
}

@mixin text-base {
  @include text-skin(base);
  @include text-variation(p);
  @include define-css-var(text, color, get-color(neutral-dark-5));
  @include define-css-var(text, text-decoration, none);

  font-family: get-css-var(text, font-family);
  font-size: get-css-var(text, font-size);
  font-weight: get-css-var(text, font-weight);
  line-height: get-css-var(text, line-height);
  text-decoration: get-css-var(text, text-decoration);
  color: get-css-var(text, color);
}
