@import "@react-ck/theme";
@import "@react-ck/scss-utils";

// TODO: add values to theme

$text-skins: (
  base: (
    default: (
      font-family: get-css-var(font, family),
      color: get-color(neutral-dark-5),
    ),
    hover: (),
  ),
  soft: (
    default: (
      color: get-color(neutral-dark-1),
    ),
    hover: (),
  ),
  bold: (
    default: (
      font-weight: 700,
    ),
    hover: (),
  ),
  link: (
    default: (
      color: get-color(highlight-alt),
    ),
    hover: (
      color: get-color(highlight-alt-dark),
    ),
  ),
  link_hidden: (
    default: (
      text-decoration: none,
    ),
    hover: (
      color: get-color(highlight-alt-dark),
      text-decoration: underline,
    ),
  ),
  inverted: (
    default: (
      color: get-color(neutral-light-1),
    ),
    hover: (),
  ),
);

$text-variations: (
  banner: (
    default: (
      font-size: 60px,
      font-weight: 700,
      line-height: 60px,
    ),
    hover: (),
  ),
  h1: (
    default: (
      font-size: 29px,
      font-weight: 500,
      line-height: 36px,
    ),
    hover: (),
  ),
  h2: (
    default: (
      font-size: 24px,
      font-weight: 500,
      line-height: 36px,
      color: get-color(neutral-dark-4),
    ),
    hover: (),
  ),
  h3: (
    default: (
      font-size: 20px,
      font-weight: 500,
      line-height: 24px,
    ),
    hover: (),
  ),
  h4: (
    default: (),
    hover: (),
  ),
  h5: (
    default: (),
    hover: (),
  ),
  h6: (
    default: (),
    hover: (),
  ),
  p: (
    default: (
      font-size: get-css-var(font, base-size),
      line-height: 24px,
      font-weight: 400,
    ),
    hover: (),
  ),
  small: (
    default: (
      font-size: 14px,
      font-weight: 400,
      line-height: 21px,
    ),
    hover: (),
  ),
  extra-small: (
    default: (
      font-size: 12px,
      font-weight: 400,
      line-height: 16px,
    ),
    hover: (),
  ),
  smallest: (
    default: (
      font-size: 9px,
      font-weight: 400,
      line-height: 12px,
    ),
    hover: (),
  ),
);
