@import "@react-ck/theme";
@import "@react-ck/scss-utils";

.root {
  @include define-css-var(text, font-size, 16px);
  @include define-css-var(text, line-height, 24px);
  @include define-css-var(text, font-weight, 500);
  @include define-css-var(text, margin-top, 0);
  @include define-css-var(text, margin-bottom, 0);
  @include define-css-var(text, color, get-color(neutral-900));

  color: get-css-var(text, color);
  font-family: sans-serif;
  font-size: get-css-var(text, font-size);
  font-weight: get-css-var(text, font-weight);
  margin-top: get-css-var(text, margin-top);
  margin-bottom: get-css-var(text, margin-bottom);
  line-height: get-css-var(text, line-height);

  &:not(:only-child).margin {
    &:not(.p, a) {
      @include define-css-var(text, margin-bottom, calc(#{get-css-var(text, font-size)} * 0.75));
    }

    & + & {
      @include define-css-var(text, margin-top, get-css-var(text, font-size));
    }
  }
}

// Types

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // Force block display in case of component    with inline element
  display: block;
}

.h1 {
  @include define-css-var(text, font-size, 29px);
  @include define-css-var(text, font-weight, 500);
  @include define-css-var(text, line-height, 36px);
}

.h2 {
  @include define-css-var(text, font-size, 24px);
  @include define-css-var(text, font-weight, 500);
  @include define-css-var(text, line-height, 36px);
  @include define-css-var(text, color, #1a202c);
}

.h3 {
  @include define-css-var(text, font-size, 20px);
  @include define-css-var(text, font-weight, 500);
  @include define-css-var(text, line-height, 24px);
}

.huge {
  @include define-css-var(text, font-size, 60px);
  @include define-css-var(text, line-height, 60px);
  @include define-css-var(text, font-weight, 700);
}

.soft {
  @include define-css-var(text, color, #718096);
}

// Variations

.small {
  @include define-css-var(text, font-size, 14px);
  @include define-css-var(text, font-weight, 400);
  @include define-css-var(text, line-height, 21px);
}

.bold {
  @include define-css-var(text, font-weight, 700);
}

.link {
  @include define-css-var(text, color, #0052cc);

  &:hover {
    @include define-css-var(text, color, #003e99);
  }
}

.link_hidden {
  text-decoration: none;

  &:hover {
    @include define-css-var(text, color, #003e99);
    text-decoration: underline;
  }
}

.inverted {
  @include define-css-var(text, color, get-color(neutral-0));
}
