@import "@react-ck/theme";
@import "@react-ck/scss-utils";
@import "mixins";
@import "variables";

.root {
  @include text-base;
  @include define-css-var(text, margin-top, 0);
  @include define-css-var(text, margin-bottom, 0);

  margin-top: get-css-var(text, margin-top);
  margin-bottom: get-css-var(text, margin-bottom);
}

// Margin

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include define-css-var(text, margin-top, get-css-var(text, font-size));
  @include define-css-var(text, margin-bottom, calc(#{get-css-var(text, font-size)} * 0.75));
}

.margin_both,
.margin_top,
.variation_p {
  @include define-css-var(text, margin-top, get-css-var(text, font-size));
}

.margin_both,
.margin_bottom,
.variation_p {
  @include define-css-var(text, margin-bottom, get-css-var(text, font-size));
}

.margin_none,
.margin_top {
  @include define-css-var(text, margin-bottom, 0);
}

.margin_none,
.margin_bottom {
  @include define-css-var(text, margin-top, 0);
}

// Variation

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // Force block display in case of component with inline element
  display: block;
}

@each $variation in map-keys($text-variations) {
  .variation_#{$variation} {
    @include text-variation($variation);
  }
}

// Skins

@each $skin in map-keys($text-skins) {
  .skin_#{$skin} {
    @include text-skin($skin);
  }
}
