@import "@rck/theme";

.root {
  --font-size: 16px;
  --line-height: 24px;
  --font-weight: 500;
  --margin-top: 0;
  --margin-bottom: 0;
  --color: get-color(text);

  color: var(--color);
  font-family: sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  line-height: var(--line-height);

  &.margin {
    &:not(.p) {
      --margin-bottom: calc(var(--font-size) * 0.75);
    }

    & + & {
      --margin-top: var(--font-size);
    }
  }
}

// Types

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // Force block display in case of component    with inline element
  display: block;
}

.h1 {
  --font-size: 29px;
  --font-weight: 500;
  --line-height: 36px;
}

.h2 {
  --font-size: 24px;
  --font-weight: 500;
  --line-height: 36px;
  --color: #1a202c;
}

.huge {
  --font-size: 60px;
}

.soft {
  --color: #718096;
}

// Variations

.small {
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 21px;
}

.bold {
  --font-weight: 700;
}

.link {
  --color: #0052cc;

  &:hover {
    --color: #003e99;
  }
}

.link_hidden {
  text-decoration: none;

  &:hover {
    --color: #003e99;
    text-decoration: underline;
  }
}
