@use "@react-ck/theme";

$button-skins: (
  primary: (
    default: (
      background: theme.get-color(highlight-primary),
      text: theme.get-color(neutral-light-100),
      border: theme.get-color(highlight-primary),
      background-hover: theme.get-color(highlight-primary-dark),
      text-hover: null,
      border-hover: theme.get-color(highlight-primary-dark),
    ),
    muted: (
      background: theme.get-color(highlight-primary-light),
      text: theme.get-color(highlight-primary),
      border: theme.get-color(highlight-primary-light),
      background-hover: theme.get-color(highlight-primary),
      text-hover: theme.get-color(neutral-light-100),
      border-hover: theme.get-color(highlight-primary),
    ),
    bordered: (
      background: null,
      text: theme.get-color(highlight-primary),
      border: theme.get-color(highlight-primary),
      background-hover: theme.get-color(highlight-primary-light),
      text-hover: theme.get-color(highlight-primary-dark),
      border-hover: null,
    ),
    ghost: (
      background: null,
      text: theme.get-color(highlight-primary),
      border: null,
      background-hover: theme.get-color(highlight-primary-light),
      text-hover: theme.get-color(highlight-primary-dark),
      border-hover: null,
    ),
  ),
  secondary: (
    default: (
      background: theme.get-color(neutral-dark-100),
      text: theme.get-color(neutral-light-100),
      border: theme.get-color(neutral-dark-100),
      background-hover: theme.get-color(neutral-dark-300),
      text-hover: null,
      border-hover: theme.get-color(neutral-dark-300),
    ),
    muted: (
      background: theme.get-color(neutral-light-300),
      text: null,
      border: null,
      background-hover: theme.get-color(neutral-light-400),
      text-hover: null,
      border-hover: null,
    ),
    bordered: (
      background: null,
      text: null,
      border: theme.get-color(neutral-light-400),
      background-hover: theme.get-color(neutral-light-300),
      text-hover: null,
      border-hover: null,
    ),
    ghost: (
      background: null,
      text: theme.get-color(neutral-dark-300),
      border: null,
      background-hover: theme.get-color(neutral-light-300),
      text-hover: null,
      border-hover: null,
    ),
  ),
  negative: (
    default: (
      background: theme.get-color(status-negative),
      text: theme.get-color(neutral-light-100),
      border: theme.get-color(status-negative),
      background-hover: theme.get-color(status-negative-dark),
      text-hover: null,
      border-hover: theme.get-color(status-negative-dark),
    ),
    muted: (
      background: theme.get-color(status-negative-light),
      text: theme.get-color(status-negative-dark),
      border: theme.get-color(status-negative-light),
      background-hover: theme.get-color(status-negative),
      text-hover: theme.get-color(neutral-light-100),
      border-hover: theme.get-color(status-negative),
    ),
    bordered: (
      background: null,
      text: theme.get-color(status-negative),
      border: theme.get-color(status-negative),
      background-hover: theme.get-color(status-negative-light),
      text-hover: theme.get-color(status-negative-dark),
      border-hover: null,
    ),
    ghost: (
      background: null,
      text: theme.get-color(status-negative),
      border: null,
      background-hover: theme.get-color(status-negative-light),
      text-hover: theme.get-color(status-negative-dark),
      border-hover: null,
    ),
  ),
);
$button-sizes: (
  block: (
    height: theme.get-spacing(9),
    padding-x: theme.get-spacing(1.5),
  ),
  xl: (
    height: theme.get-spacing(7),
    padding-x: theme.get-spacing(3),
  ),
  l: (
    height: theme.get-spacing(5),
    padding-x: theme.get-spacing(3),
  ),
  m: (
    // align with input height
    height: theme.get-spacing(4),
    padding-x: theme.get-spacing(2),
  ),
  s: (
    height: theme.get-spacing(3),
    padding-x: theme.get-spacing(1.25),
  ),
  xs: (
    height: theme.get-spacing(2.5),
    padding-x: theme.get-spacing(1),
  ),
);
