@use "@react-ck/theme";
@use "@react-ck/scss-utils";

.root {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: var(--expandable-height, auto);
  width: var(--expandable-width, auto);
  transition:
    height 0.4s ease-in-out,
    width 0.4s ease-in-out;
  overflow: hidden;
  will-change: height;
  transform: translateZ(0);
}

.content {
  position: relative;
  display: inline-block;
}

.full_width {
  width: 100%;
  display: block;

  .content {
    width: 100%;
    display: block;
  }
}
