@import "@react-ck/theme";

.root {
  @include define-css-var(modal, spacing, get-spacing(5));

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.clickable_overlay {
  cursor: pointer;
}

.card {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: get-css-var(modal, spacing);
  margin-bottom: get-css-var(modal, spacing);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: get-css-var(modal, spacing);
  margin-top: get-css-var(modal, spacing);
}
